.form-input{
    display:grid;
    place-items:center;
    margin-top:3%;
    padding:60px;
}
.img{
    width:100%;
    height: auto;
    max-width: 220px;
    min-width: 200px;
}

#search{
    width: 500px;
    height:50px;
    font-size: medium;  
    outline: none;
    padding:10px;
    border-radius:30px;
    border:none;
    color:black;
    background-color: rgb(122, 122, 122);
}
#sub{
    width:80px;
    height:50px;
    background-color: crimson;
    color:white;
    border-radius: 30px;
    outline:none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }